.sidenav {
    background: #fafacc;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #fafacc;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #967150;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: #967150;
            border: none;

            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item1{
        width: 100%;
        margin-bottom: 0.625rem;
        padding: 0.3rem;

        .sidenav-nav-linkk{
            display: flex;
            color: #967150;
            
        }
        .sidenav-nav-linkk:hover {
            background-color: #fbb2d5;
            color: #4f351f;
        }
        .sidenav-link-icon1 {
            color: #967150;
            font-size: 22px;
            width: 2rem;
            min-width: 0;
            margin: 0 0.2rem;
            text-align: center;
        }

        .sidenav-link-texts1 {
            color: #967150;
            margin-left: 0.5rem;
            margin-bottom: 10rem;
        }
    }

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            color: #967150;
            height: 3rem;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                color: #967150;
                font-size: 22px;
                width: 2rem;
                min-width: 0;
                margin: 0 0.2rem;
                text-align: center;
            }

            .sidenav-link-text {
                color: #967150;
                margin-left: 0.2rem;
                // margin-bottom: 10rem;
            }
        }
        .sidenav-nav-link:hover {
            background-color: #fbb2d5;
            color: #4f351f;
        }
    }
}


.active {
    background-color: #fbb2d5;
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #4f351f;
    }
}

.active-sublevel {
    color: #f3f3f3 !important;
    opacity: 1 !important;
}


mat-expansion-panel {
    background: transparent;

}

.sidenav-link {
    color: #967150;
    margin-left: 1rem;
}

.menuTitle {
    color: #967150;
    margin-left: 1.7rem;
    font-size: 15px;
}

.fa-cookie-bite {
    color: #967150;
}

mat-expansion-panel-header {
    padding: 0.7rem;
}

mat-panel-title {
    font-size: 25px;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0px;
}

::ng-deep .mat-expansion-indicator::after {
    content: none !important;
}

mat-panel-description {

    mat-list-item {
        display: flex;
        margin: 0.2rem;
        margin-left: 2rem;
        width: 100%;
    }
}
