<div class="admin-navbar" fxLayout="column" fxLayoutAlign="start center">
    <div class="member-container" fxLayout="column" fxLayoutAlign="start center">
        <div class="logo-container full-width mrt-24" fxLayout="row" fxLayoutAlign="center start">
            <img class="logo" [src]="currentUser?.pictureUrl" />
            <span class="version">Phiên bản: {{ versions }}</span>
        </div>
        <div class="contact" fxLayout="column" fxLayoutAlign="center center">
            <div class="name">3T Cake Management</div>
        </div>
    </div>

    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>

    <mat-accordion style="margin-top: 10%;" multi displayMode="flat">
        <ng-container *ngFor="let app of arrApps">
            <mat-expansion-panel [expanded]="openedPanel == app.code">
                <mat-expansion-panel-header>
                    <mat-panel-title style="text-align: center;">
                        <mat-icon class="app-icon mrr-24" [svgIcon]="app?.icon"></mat-icon>
                        <span>{{app?.label}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-panel-description>
                    <mat-nav-list>
                        <ng-container *ngFor="let item of app?.children">
                            <div *ngIf="item.type=='subheading'" class="full-width mrt-12">
                                <span class="mrl-6 list-title">{{item?.label}}</span>
                            </div>
                            <mat-list-item *ngIf="item.type=='link'" (click)="log([item.route])"
                                [routerLink]="[item.route]" class="mat-list-item-menu" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }">
                                <span>{{item?.label}}</span>
                            </mat-list-item>
                        </ng-container>
                    </mat-nav-list>
                </mat-panel-description>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>