// mat-card{
//     margin: 2%;
//     background: rgb(244, 249, 218);
// }
// mat-form-field{
//     background: rgb(246, 247, 240);
// }
// button{
//     margin: 2px;
//     color: rgb(96, 74, 46);
    
// }

// th{
//     background-color: black !important;
//     color: white;
// }

.bodyTable{
    background: rgb(240, 240, 203);
}
table{
    width: 100%;
}

mat-card{
    margin: 2%;
    background: rgb(244, 249, 218);
}
button{
    margin: 2px;
}

th{
    background-color: black !important;
    color: white;
}