.bodyTable {
    background: rgb(240, 240, 203);
    margin-top: 5%;
    padding: 1rem;
}

table {
    width: 100%;
}

mat-card {
    margin: 2%;
    background: rgb(244, 249, 218);
}

button {
    margin: 2px;
}

th {
    background-color: rgb(49, 49, 49) !important;
    color: white;
}

td {
    background-color: rgb(49, 49, 49) !important;
    color: white;
}