<mat-card-header class="productHeader">
    <h1 style="font-size: 24px; color: #715f3f;">Product</h1>
    <button mat-icon-button (click)="close()">
        <mat-icon aria-label="Close">close</mat-icon>
    </button>
</mat-card-header>

<cdk-virtual-scroll-viewport itemSize="200" class="viewport">
    <form [formGroup]="myform" (ngSubmit)="submitProduct()">
        <mat-card>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Product's Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        @for (item of categoryList; track item) {
                        <mat-option [value]="item.category_id">{{ item.type | titlecase }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Size</mat-label>
                    <mat-select formControlName="size">
                        @for (item of sizeList; track item) {
                        <mat-option [value]="item.size_id">{{ item.size | titlecase }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Flavour</mat-label>
                    <mat-select formControlName="flavour">
                        @for (item of flavourList; track item) {
                        <mat-option [value]="item.flavour_id">{{item.flavour | titlecase}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Shape</mat-label>
                    <mat-select formControlName="shape">
                        @for (item of shapeList; track item) {
                        <mat-option [value]="item.shape_id">{{item.shape | titlecase}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Unit Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity">
                </mat-form-field>

                <mat-label>Images</mat-label>
                <input required type="file" (change)="onFileSelected($event)">
            </mat-card-content>
        </mat-card>
        <mat-card-footer>
            <div style="display: flex; flex-direction: row;">
                <!-- <button (click)="closepopup()">Close</button> -->
                <button type="submit">Save</button>
            </div>
        </mat-card-footer>
    </form>
</cdk-virtual-scroll-viewport>