<div class="bodyTable">
    <mat-card>
        <mat-card-header class="search-bar-container" cdkOverlayOrigin #overlayPosition="cdkOverlayOrigin">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <input matInput placeholder="Search by Phone Number" (focus)="isOverlayOpen = true"
                (blur)="isOverlayOpen = false" (input)="applyFilter($event)" />
        </mat-card-header>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="overlayPosition"
            [cdkConnectedOverlayOpen]="isOverlayOpen">
        </ng-template>
    </mat-card>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.order_id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Customer's Name</th>
            <td mat-cell *matCellDef="let element">{{ element.first_name }} {{ element.last_name }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Number of types</th>
            <td mat-cell *matCellDef="let element">{{ element.total_unit }}</td>
        </ng-container>

        <ng-container matColumnDef="bill">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Bill</th>
            <td mat-cell *matCellDef="let element">{{ element.total_price }}</td>
        </ng-container>

        <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
            <td mat-cell *matCellDef="let element">
                {{ element.created_at | date : "dd/MM/yyyy" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="deliveryStatus">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Delivery Status</th>
            <td mat-cell *matCellDef="let element">{{ element.delivery_status }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle (change)="changeStatus(element)" class="example-margin" [color]="color"
                    [checked]="element.active_status === 'active'" [disabled]="disabled" matTooltip="Change Status">
                </mat-slide-toggle>
                <!-- {{ element.status | titlecase}} -->
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <div class="action-buttons">
                    <button (click)="detailOrders(element)" mat-raised-button color="primary">Detail</button>
                    <button class="deleteButton" (click)="deleteOrder(element)" mat-raised-button
                        color="warn">Delete</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</div>